/* Universal Styling */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #30475e;
  opacity: 60%;
}

.brand-title {
  font-size: 1.8rem;
  margin: 0.5rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #c8543c;
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: lightgray;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #c8543c;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.8rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.btn {
  background-color: #c8543c;
  color: whitesmoke;
  text-transform: uppercase;
}

span {
  color: #c8543c;
  font-style: italic;
}

.icon {
  color: white;
}
/* About Styling */

#about-div {
  background-image: url("images/AdobeStock_301779119-scaled-removebg 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #30475e;
}

#about-p {
  background-color: #e8e8e8;
  opacity: 60%;
}

#kristina-img {
  clip-path: circle(50% at 50% 50%);
  height: fit-content;
}

/* About Animation */

/* Projects Styling */

#projects-div {
  background-color: #30475e;
  opacity: 60%;
}

.card {
  background-color: whitesmoke;
  text-transform: uppercase;
}

/* Contact */
#contact-form {
  opacity: 60%;
}

/* Footer  */

.footer {
  background-color: #30475e;
  opacity: 60%;
}

/* Divider */
body {
  background: white;
}

.divider {
  /* minor cosmetics */
  display: table;
  font-size: 25px;
  text-align: center;
  width: 75%; /* divider width */
  margin: 40px auto; /* spacing above/below */
}
.divider span {
  display: table-cell;
  position: relative;
}
.divider span:first-child,
.divider span:last-child {
  width: 50%;
  top: 13px; /* adjust vertical align */
  -moz-background-size: 100% 2px; /* line width */
  background-size: 100% 2px; /* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {
  /* color changes in here */
  opacity: 60%;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(transparent),
    to(#30475e)
  );
  background-image: -webkit-linear-gradient(180deg, transparent, #30475e);
  background-image: -moz-linear-gradient(180deg, transparent, #30475e);
  background-image: -o-linear-gradient(180deg, transparent, #30475e);
  background-image: linear-gradient(90deg, transparent, #30475e);
}
.divider span:nth-child(2) {
  opacity: 60%;
  color: #30475e;
  padding: 0px 5px;
  width: auto;
  white-space: nowrap;
}
.divider span:last-child {
  /* color changes in here */
  opacity: 60%;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#30475e),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(180deg, #30475e transparent);
  background-image: -moz-linear-gradient(180deg, #30475e, transparent);
  background-image: -o-linear-gradient(180deg, #30475e, transparent);
  background-image: linear-gradient(90deg, #30475e, transparent);
}
